* {
  padding: 0;
  margin: 0;
}

body {
  background: #afafaf;
}

.container {
  position: absolute;
  top: calc(50% - 240px);
  left: calc(50% - 160px);
}

#canvas {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAUAAAAHgCAIAAAEs6ROFAAAABGdBTUEAALGPC/xhBQAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB+ALAQoxK3KKnHIAAAAdaVRYdENvbW1lbnQAAAAAAENyZWF0ZWQgd2l0aCBHSU1QZC5lBwAABdZJREFUeNrt3UGK8zoQhVEpi7D2v7zSJioDh+BAJg5ERtY5w8cDUfn6Nj80TdfMUkppbSsDRfRHuYiHPexhD3vYwx72sIc97GEPe9jDHvawhz3sYQ972MMe9rCHPezhX9TxP1uM6Bp72MMe9rCHPexhD3vYwx72sIc97GEPe9jDHvawhz3sYQ972MOzPfz62eJu8G8vjrT/QPPKT3q5Ly0HO9jBDnawgx3sYAc72MEOdrCDHexgBzvYwQ52sIMd7GAHO9jBDnawgx3sYAc72MEOdrCDHexgBzvYwQ52sIMd7GAHO9jBDnbwpJb43cP3Lx76knawgx3sYAc72MEOdrCDHexgBzvYwQ52sIMd7GAHO9jBDnawgx3sYAc72MEOdrCDHexgBzvYwQ52sIMd7GAHO9jBDnawgx3sYAc72MEOdrCDHexgBzvYwQ52sIMd7GAHO9jBDnawgx3sYAc72MEOdrCDHexgBzvYwQ52sIMd7GAHO9jBDnawgx3sYAc72MEOdrCDHexgBzv4jI+/e3h017+BeGPHP++47le0b1kIjMAIjMAIjMACIzACIzACIzACI7DACIzACIzACIzAAiMwAiMwAiMwAgvsIxAYgREYgREYgRFYYARGYARGYARGYIERGIERGIERGIERWGAERmAERmAERmCBERiBERiBERiBBUZgBEZgBEZgBEZggREYgREYgREYgQVGYARGYARGYAQWGIERGIERGIERGIEFRmAERmAERmAEFhiBERiBERiBERiBBUZgBEZgBEZgBF5LzfzyX1vbfDRziegW7Fs0AiMwAiMwAiOwwD4CgREYgREYgREYgQVGYARGYARGYAQWGIERGIERGIERGIEFRmAERmAERmAEFhiBERiBERiBEVhgBEZgBEZgBEZgBBYYgREYgREYgRFYYARGYARGYARGYIERGIERGIERGIERWGAERmAERmAERmCBERiBERiBERiBEVhgBEZgBEZgBEZggREYgREYgREYgQVGYARGYARGYARGYIERGIERGIERGIEFRmAERmAERmAEFhiBERiBERiBERiBBUZgBEZgBEZgBBYYgREYgREYgREYgQVGYARGYARGYAQWGIERGIERGIERWGAERmAERmAERmAEFhiBERiBERiBEVhgBEZgBEZgBEZggREYgREYgREYgRFYYARGYARGYARGYIERGIERGIERGIERWGAERmAERmAERmCBERiBERiBERiBBUZgBEZgBEZgBEZggREYgREYgREYgQVGYOZRM0/8361tPjL4q4juOzT4JxZgwIABAwYMBgwYMGDAYMCAAQMGDBgwGDBgwIABAwYMBgwYMGDAYMCAAQMGDBgwGDBgwIABAwYMBgwYMGDAYMCAAQMGDBgwGDBgwIABgwEDBgwYMGDAYMCAAQMGDBgwGDBgwIABgwEDBgwYMGDAYMCAAQMGDBgwGDBgwIABgwEDBgwYMGDAYMCAAQMGDBgwGDBgwIABgwEDBgwYMGDAYMCAAQMGDAYMGDBgwIABgwEDBgwYMGDAYMCAAQMGDAYMGDBgwIABgwEDBgwYMGDAYMCAAQMGDAYMGDBgwIABgwEDBgwYMBgwYMCAAQMGDAYMGDBgwIABgwEDBgwYMBgwYMCAAQMGDAYMGDBgwIABgwEDBgwYMBgwYMCAAQMGDAYMGDBgwIABgwEDBgwYMBgwYMCAAQMGDAYMGDBgwGDAgAEDBgwYMBgwYMCAAQMGDAYMGDBgwGDAgAEDBgwYMBgwYMCAAQMGDAYMGDBgwGDAgAEDBgwYMBgwYMCAAQMGDAYMGDBgwGDAgAEDBgwYMBgwYMCAAYMBAwYMGDBgwGDAgAEDBgwYMBgwYMCAAYMBAwYMGDBgwGDAgAEDBgwYMBgwYMCAAYMBAwYMGDBgwGDAgAEDBgwG7CMAAwYMGDBgMGDAgAEDBgwYDBgwYMCAwYABAwYMGDBgMGDAgAEDBgwYDBgwYMCAwYABAwaGeALhgyn0oJdhpwAAAABJRU5ErkJggg==");
  margin: 0 auto;
  outline: none;
}

#score {
  font-size: 20px;
  font-weight: bold;
  color: white;
  display: block;
  position: absolute;
  top: 10px;
  left: 10px;
  text-shadow: -2px 0 black, -2px 2px black, -2px -2px black, 0 2px black, 2px 0 black, 2px 2px black, 2px -2px black, 0 -2px black;
}

#instruction {
  width: 100%;
  font-size: 14px;
  font-weight: bold;
  color: white;
  display: block;
  position: absolute;
  top: 200px;
  left: 0;
  text-shadow: -2px 0 black, -2px 2px black, -2px -2px black, 0 2px black, 2px 0 black, 2px 2px black, 2px -2px black, 0 -2px black;
}

#lose {
  width: 100%;
  font-size: 14px;
  font-weight: bold;
  color: white;
  display: none;
  position: absolute;
  top: 150px;
  left: 30px;
  text-shadow: -2px 0 black, -2px 2px black, -2px -2px black, 0 2px black, 2px 0 black, 2px 2px black, 2px -2px black, 0 -2px black;
}
