.screen .screen-content.screen-Game {
	background-image: url("/images/car-race-background.png");
	background-position: 0 0;
	background-repeat: repeat-y;
	&.is-moving {
		animation: car-move 2000ms linear infinite;
	}
}

.car {
	width: var(--width);
	height: var(--height);
	position: absolute;
	top: var(--top);
	left: var(--left);
	&.car-player {
		background-image: url("/images/car-race-player.png");
	}
	&.car-computer {
		background-image: url("/images/car-race-computer.png");
	}
}

.stop-light {
	background-image: url("/images/car-race-stop-light-1.png");
	width: var(--width);
	height: var(--height);
	position: absolute;
	top: calc(50% - calc(var(--height) / 2));
	left: calc(50% - calc(var(--width) / 2));
	opacity: 0;
	animation: stop-light 5000ms ease-out forwards;
}
